/* This breakpoint is for laptop screen  */

@media (max-width:992px) {
    /* set media queries for navigaton bar  */
    h3{
        font-size: 1.2rem;
    }
     .Navigation-icon{
        display:block;
        margin-right: 20px;
    }
    .main-nav{
        overflow: initial;
    }
    .nav-links{
        position: absolute;
        background-color: white;
        left: 0;
        top: 100%;
        width: 100%;
        padding-block: 20px;
        opacity: 0;
        transform: translateX(-100px);
        transition: opacity 0.2s ease, max-height 0.2s ease;
    }
    .nav-links ul{
        flex-direction: column;
        opacity: 0;
        transition: opacity 0.2s ease;

    }
    .menu-toggle:checked ~ .nav-links{
        opacity: 1;
        background-color: white;
        transform: translate(0);
    }
    .menu-toggle:checked ~ .nav-links ul{
        opacity: 1;
        /* transform: translateY(0); */
    }
    .menu-toggle:checked ~ .Navigation-icon{
        transform: rotate(90deg);
    } 
    /* set media queries for example section  */
    .example-area{
        gap: 20px;
    }
    .example-card{
        width: calc(50% - 10px);
        height: 180px;
    }
    /* set queries for cta section  */
    .cta-section{
        padding: 80px var(--padding-inline-section) 80px;
    }
}

    /* This breakpoint is for mobile screen  */
    @media(max-width:772px) {
        /* set queries for hero section  */
    .header-section{
        flex-direction: column-reverse;
    }
    .header-left{
        max-width: 100vw;
        text-align: center;
    }
    .primary-btn{
        width: 100%;
    }
    /* set queries for feature section  */
    .features-cards{
        min-width: calc(50% - 10px) ;
    }
    /* set queries for big feature section   */
    .big-feature-container{
        flex-direction: column;
    }
    .big-feature-container1{
        flex-direction: column-reverse;
    }
    /* set queries for footer part  */
    .footer-section-container{
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }
    .link-column{
        align-items: stretch;
    }
}
/* media queries for small screen */
@media(max-width:479px) {
    :root{
        --padding-inline-section:10px;
    }
    h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.5rem;
      }
      p{
        font-size: 1rem;
      }
      .features-cards{
        min-width: 100%;
      }
      /* set queries for example section here  */
      .example-card{
        width: 100%;
      }
}



    
